@import "./base/_reset.scss";
@import "./components/_gnb.scss";
@import "./components/_library-book-exist.scss";
@import "./components/_category-selector.scss";
@import "./components/book-image.scss";

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav-gnb {
    flex: none;
}

app-book {
    flex: 1;
    overflow: auto;

    position: relative;

    // display: block;
    padding: 1rem;
    font-size: 14px;
    // line-height: 1.7;
    color: #333;

    h1.bookname {
        margin: 0 0 10px;
        font-size: 1.2rem;
        p {
            margin: 7px 0;
            &:first-child {
                font-size: 1.7rem;
            }
        }
    }

    h4 {
        margin: 30px 0 0;
    }

    .title {
        padding-bottom: 7px;
        border-bottom: 1px solid #e7e7e7;
        font-weight: bold;
        font-size: 1rem;
        color: #333;
    }

    .book-image-container {
        position: relative;
    }

    book-image {
        &[data-fail="true"] {
            .book-image {
                width: 200px;
                height: 200px;
            }
        }
        .thumb {
            min-width: 100px;
            max-width: 200px;
        }
    }

    .bookInfo {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0 0;
        padding: 0;
        list-style: none;
        font-size: 14px;

        li {
            box-sizing: border-box;
            width: 50%;
            margin-top: 20px;
            &:nth-child(even) {
                .title {
                    margin-right: 10px;
                }
            }
            h6 {
                margin: 0;
            }
            p {
                margin: 8px 0 0;
                color: #666;
            }
        }

        .description-area {
            width: 100%;
        }
        .description {
            line-height: 1.7;
        }
    }

    .loanHistory,
    .loanGrps {
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th,
        td {
            padding: 5px;
            font-size: 12px;
        }
        th {
            background-color: #efefef;
            font-weight: normal;
        }
        td {
            text-align: center;
            border-bottom: 1px solid #ebebeb;
            color: #666;
        }
    }

    .loanGrps {
        .guide {
            margin: 8px 0;
            font-size: 12px;
        }
    }

    .keyword {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        a {
            display: inline-flex;
            margin: 2px;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid #e2e2e2;
            background-color: #f8f8f8;
            font-size: 12px;
            color: #333;
            text-decoration: none;

            &:hover {
                border-color: #c7e53b;
                background-color: #eff9c3;
                color: green;
            }
        }
    }

    .library-search-by-book {
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            border-bottom: 1px dashed #e5e5e5;
            font-size: 12px;
            &[data-available="true"] {
                background-color: rgba(184, 207, 143, 0.1);
            }
        }
        a {
            color: #333;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            margin: 0;
            color: #666;
        }
    }

    .recBooks {
        padding: 0;
        li {
            margin: 10px 0 0 1rem;
        }
        a {
            display: block;
            text-decoration: none;
            color: #333;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .library-button {
        width: 100%;
        padding: 7px 10px;
        border-radius: 5px;
        border: 1px solid #eff2e5;
        background-color: transparent;
        font-size: 12px;
        text-decoration: none;
        color: #37824a;
        &:hover {
            background-color: #fcfff2;
        }
        &:disabled {
            opacity: 0.5;
        }
    }
}

.coLoanBooks,
.maniaBooks,
.readerBooks {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        padding: 10px;
        border-bottom: 1px dashed #ebebeb;
        &:hover {
            background-color: #f8f8f8;
        }
    }
    p {
        margin: 5px 0;
        font-size: 12px;
        color: #666;
    }
    .bookname {
        font-size: 14px;
        color: #333;
    }
    .isbn13 {
        margin-left: 5px;
    }
    .publish {
        span {
            margin: 0 5px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .loanCnt {
        margin-right: 5px;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    font-size: 14px;
    color: #666;
}
