@import "./base/_reset.scss";
@import "./utils/_keyframes.scss";
@import "./components/_gnb.scss";
@import "./components/_book-description.scss";
@import "./components/_library-book-exist.scss";
@import "./components/_checkbox-favorite-book.scss";
@import "./components/_book-image.scss";

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav-gnb {
    flex: none;
}

.favorite {
    flex: 1;
    overflow: auto;

    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #4f4f4f;
    &-books {
        overflow: auto;
        flex: 1;
        list-style: none;
    }
    &-actions {
        margin-top: 5px;
        padding: 0 1rem;
    }
}

.favorite-header {
    display: flex;
    box-sizing: border-box;
    min-height: 25px;
    padding: 0 1rem;
    background: #f1fff4;
    &[hidden] {
        display: none;
    }
}

.favorite-category {
    a {
        display: inline-block;
        padding: 10px;
        background-color: transparent;
        font-size: 14px;
        text-decoration: none;
        color: #666;
        &:hover,
        &:active {
            color: #333;
            text-decoration: underline;
        }
        &[aria-selected="true"] {
            color: #209b3a;
        }
    }
}

.favorite-changeButton {
    margin-left: auto;
    padding: 0 10px;
    // border: 1px solid transparent;
    background-color: transparent;
    font-size: 12px;
    color: #666;
    &:hover {
        // border-color: rgb(192, 210, 192);
        color: #333;
        text-decoration: underline;
    }
}

// .favorite-header {
// 	h2 {
// 		margin: 0;
// 	}
// 	.count {
// 		margin: 0 0 10px;
// 		font-size: 1rem;
// 	}
// }

// .favorite-books {
// }

favorite-item {
    display: flex;
    flex-direction: column;
    position: relative;
    border-top: 1px solid #ececec;
    &[data-loading="true"] {
        &::after {
            content: "loading...";
            display: block;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            background-color: #fff;
        }
    }
    &[data-fail="true"] {
        book-image {
            width: 100px;
            height: 120px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            background-color: rgba(0, 0, 0, 0.02);
            img {
                display: none;
            }
        }
        .book-info {
            .bookname {
                font-size: 14px;
            }
            .authors ~ p {
                display: none;
            }
        }
        book-description {
            display: none;
        }
    }

    .book-summary {
        position: relative;
        margin: 1rem 1rem 7px;
        a {
            display: flex;
            gap: 1rem;
            text-decoration: none;
        }
    }
    book-description {
        margin: 0 1rem;
    }

    book-image {
        .thumb {
            width: 120px;
        }
    }

    .book-info {
        flex: 1;
        color: #666;
        p {
            margin: 0;
            padding: 0 0 6px;
            font-size: 14px;
            &:before {
                content: "⋅";
                display: inline-4block;
                padding-right: 5px;
            }
        }
        .bookname {
            margin: 5px 0 7px;
            border-radius: 5px;
            font-size: 1rem;
            color: #333;
            line-height: 1.5;
        }
        .isbn13,
        .publisher,
        .publication_year,
        .loanCnt {
            margin-left: 5px;
        }
    }
}

.favorite-actions {
    button {
        width: 100%;
        // display: inline-block;
        padding: 7px 10px;
        border-radius: 5px;
        border: 1px solid transparent;
        background-color: transparent;
        font-size: 12px;
        text-decoration: none;
        color: #6f6f6f;
        &:hover {
            border-color: #eff2e5;
        }
    }
}

library-book-exist {
    margin: 0 1rem 1rem;
}

.favorite-message {
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
}

.overlay-category {
    position: absolute;
    top: 5.3rem;
    right: 10px;
    z-index: 10;

    .overlay-container {
        padding: 1rem;
        border-radius: 10px;
        background-color: #fcffe1;
        border: 1px solid #d9dea4;

        h3 {
            margin: 0;
            padding-bottom: 7px;
            border-bottom: 1px dashed #a1b886;
            font-size: 14px;
            color: #848484;
        }
    }
    .category-list {
        margin: 0;
        padding: 10px 0;
        list-style: none;
    }
    .category-item {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 3px 0;
        // background-color: #f1fff4;
        color: #333;
        transition: all 0.3s ease;
        input[name="category"] {
            padding: 6px 8px;
            border: 1px solid #e7e7e7;
            font-size: 14px;
            color: #666;
        }
        .label ~ button {
            margin-left: 5px;
            padding: 5px 10px;
            border: solid 1px transparent;
            color: rgba(0, 0, 0, 0.5);
            border-radius: 3px;
            background-color: transparent;
            font-size: 12px;
            &:hover {
                border-color: rgba(0, 0, 0, 0.1);
            }
        }
        .dragger {
            height: var(--height);
            border: none;
            background-color: rgba(0, 0, 0, 0);
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }
        &[data-drag="dragenter"] {
            padding-top: 2rem;
            background-color: #fff;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
        &[data-drag="dragleave"] {
            background-color: transparent;
        }
        // &[data-drag="drop"] {
        //     background-color: transparent;
        // }
        &[draggable="true"] {
            opacity: 0.5;
        }
    }
    .category-add {
        display: flex;
        gap: 10px;
        padding: 10px 0;
        border-top: 1px solid #dae3dc;
        label {
            flex: 1;
            margin-right: 5px;
        }
        input[type="text"] {
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            border: 1px solid #e7e7e7;
        }
        button {
            margin-left: auto;
            padding: 5px 10px;
            border: solid 1px transparent;
            color: rgba(0, 0, 0, 0.5);
            border-radius: 3px;
            background-color: transparent;
            font-size: 12px;
            &:hover {
                border-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
    .overlay-footer {
        display: flex;
        justify-content: space-between;
        margin: 0 -1rem -1rem -1rem;
        button {
            flex: 1;
            padding: 10px;
            border-radius: 0;
            background-color: #e8e8c5;
            font-size: 12px;
            color: #666;
            &:not(:first-child) {
                border-left: 1px solid #ddd;
            }
        }
    }
}
