@import "./base/_reset.scss";
@import "./components/_gnb.scss";
@import "./components/_category-selector.scss";
@import "./components/_book-image.scss";
@import "./components/_loading.scss";
@import "./components/_button.scss";

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav-gnb {
    flex: none;
}

.popular {
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    input[type="date"] {
        color: #666;
    }
}

popular-header {
    flex: none;

    display: flex;
    gap: 5px;

    .page-nav {
        flex: 1;
        // position: absolute;
        // z-index: 10;
        // left: 0;
        // right: 80px;
        overflow: auto;
        display: flex;
        background-color: #364d4e;
        &[hidden] {
            display: none;
        }
        button {
            flex: 1;
            padding: 10px 1rem;
            border-radius: 0;
            border-right: solid 1px #2b2b2b;
            background-color: transparent;
            text-align: center;
            font-size: 12px;
            color: #c8c8c8;
            white-space: nowrap;
            &:hover,
            &:active {
                color: #fff;
            }
            &[aria-selected="true"] {
                color: #333;
                background-color: #fff;
            }
        }
    }

    .filterButton {
        // position: absolute;
        // right: 0;
        margin-left: auto;
        box-sizing: border-box;
        padding: 7px 1rem;
        border-radius: 0;
        background: #364d4e;
        color: #efefef;
        font-size: 11px;
    }
}

.filter-form {
    overflow: auto;
    position: absolute;
    left: 5px;
    right: 10px;
    top: 76px;
    z-index: 10;
    box-sizing: border-box;
    height: 80%;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #dadada;
    background: #efefef;
    color: #666;

    fieldset {
        margin-bottom: 1rem;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .title {
        font-size: 14px;
    }

    .options {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
    }

    label {
        display: flex;
        align-items: center;
        width: 50%;
        margin: 3px 0;
    }

    .label {
        margin: 0 1rem 0 3px;
    }

    .dateRange {
        margin-top: 10px;
    }
}

.filter-actions {
    display: flex;
    gap: 8px;
    margin-top: 1rem;
    button {
        flex: auto;
        @include button2;
        // padding: 10px;
        // border-radius: 8px;
        // border: 1px solid #dbe8e6;
        // background-color: #f0fdfb;
        // font-size: 14px;
        // color: #666;
        //     &: hover {
        //     background-color: #dffff9;
        //     border-color: #b1d4ce;
        // }
    }
}

.region,
.subject {
    position: relative;
}
.detailRegion,
.detailSubject {
    position: absolute;
    right: -2px;
    top: -25px;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    background: #eee;
    font-size: 12px;
    .label {
        margin-left: 3px;
    }
    input:disabled + .label {
        opacity: 0.3;
    }
}

.popular-body {
    flex: 1;
    overflow: auto;

    position: relative;
}

.popular-list {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #666;
}

.popular-item {
    display: flex;
    gap: 10px;

    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    .link {
        position: relative;
    }

    .bookImage {
        width: 120px;
        border: 1px solid #dedede;
    }

    .ranking {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 20px;
        height: 20px;
        background-color: #223233;
        font-size: 11px;
        color: #fff;
        text-align: center;
        line-height: 20px;
    }

    .book-info {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 12px;
        color: #767676;
        li {
            padding-bottom: 4px;
            span {
                margin-left: 5px;
            }
        }
        .bookname {
            padding-bottom: 7px;
            font-weight: bold;
            font-size: 1rem;
            color: #417f80;
        }
        .bookDtlUrl {
            color: #767676;
        }
    }

    category-selector {
        right: 10px;
        bottom: 10px;
    }
}
