@import "./base/_reset.scss";
@import "./components/_gnb.scss";

h4 {
    padding: 0 1rem;
    color: #333;
}

.filter-form {
    padding: 0 1rem;
    color: #666;

    fieldset {
        margin: 1rem 0 0;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .title {
        font-size: 14px;
    }

    .options {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
    }

    label {
        display: flex;
        align-items: center;
    }

    .label {
        margin: 3px 1rem 0 3px;
    }

    .dateRange {
        margin-top: 10px;
    }
}

.filter-actions {
    display: flex;
    gap: 8px;
    margin-top: 1rem;
    button {
        flex: auto;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #cbdad7;
        background-color: #f0fdfb;
        font-size: 14px;
        color: #666;
        &:hover {
            background-color: #dffff9;
            border-color: #b1d4ce;
        }
    }
}
