@import "./base/_reset.scss";
@import "./components/_gnb.scss";

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-setting {
    overflow: auto;
    height: 100%;
}

h1 {
    margin: 1rem;
}

.title {
    margin: 0;
}
.section {
    display: block;
    padding: 1rem;
    border-top: 1px solid #ddd;
    .label {
        margin: 1rem 0 5px;
    }
}

set-region {
    .regions {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        label {
            width: 50%;
            font-size: 14px;
        }
    }
}

favorite-regions {
    .favorites {
        margin: 5px 0;
        padding: 1rem;
        border-radius: 10px;
        // border: 3px solid #c6e7b6;
        background-color: #f2f2f2;
    }
    h3 {
        margin: 0;
        font-size: 14px;
    }
    p {
        margin: 5px 0 0;
        font-size: 14px;
    }
    p + h3 {
        margin-top: 1rem;
    }
}

set-detail-region {
    .regions {
        padding: 10px 0;
        label {
            margin-right: 10px;
        }
    }
    .detailRegions {
        display: flex;
        flex-wrap: wrap;
        label {
            width: 50%;
            margin-bottom: 5px;
            font-size: 14px;
        }
    }
}

set-storage {
    padding: 1rem;

    textarea {
        width: 100%;
        height: 100px;
        margin-top: 10px;
    }
    .resetStorage {
        padding-top: 1rem;
    }
}
