book-image {
    display: flex;
    justify-content: center;

    .thumb {
        width: 120px;
        border: 1px solid #e8e8e8;
    }

    &[data-fail="true"] {
        box-sizing: border-box;
        width: 120px;
        height: 170px;
        border: 1px solid #eaeaea;
        background-color: #f8f8f8;
    }
}

a:hover book-image .thumb {
    border-color: #48dfc2;
}
