
book-description {
    display: flex;
    flex-direction: column;
    .description {
        margin: 5px 0;
        font-size: 14px;
        line-height: 1.5;    
        &:empty {
            margin: 0;
        }
        &[data-ellipsis="true"] {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
    .more-description-button {
        width: auto;
        margin-left: auto;
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        background-color: #f8f8f8;
        font-size: 12px;
        text-decoration: none;
        &[aria-hidden="true"] {
            display: none;
        }

    }
}