html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #fff;
}

.root {
    display: block;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;

    .ly-1 {
        flex: 1;
        background-color: rgba(0, 100, 50, 0.05);
    }
    
    .ly-2 {
        flex: 1;
    }
    
    .ly-3 {
        flex: 1;
        background-color: rgba(0, 100, 200, 0.05);
    }
}


