@import './_reset.scss';
@import './_gnb.scss';
@import './_library-book-exist.scss';


.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav-gnb {
    flex: none;
}

app-book {
    flex: 1;
    overflow: auto;

    position: relative;

    // display: block;
    padding: 1rem;
    font-size: 14px;
    line-height: 1.7;
    color: #333;
    

    h3 {
        margin: 0 0 10px;
        font-size: 1.2rem;
    }

    h4 {
        display: block;
        margin: 30px 0 0;
        border-bottom: 1px solid #e7e7e7;
        font-size: 1rem;
    }

    .bookname {
        p {
            margin: 0;
            &:first-child {
                font-size: 1.7rem;;
            }
        }
    }

    .authors {
    }

    .book-image {
        text-align: center;
        .thumb {
            border: 1px solid #e8e8e8;
        }

    }

    .cols {
        display: flex;
        flex-wrap: wrap;
        .col {
            box-sizing: border-box;
            width: 50%;
            &:nth-child(even) {
                padding-left: 10px;;
            }
        }
    }

    .actions {
        margin-top: 2rem;
    }


    .keyword {
        display: flex;
        flex-wrap: wrap;
        span {
            // display: inline-block;
            margin: 2px;
            padding: 2px 7px;
            border-radius: 5px;
            border: 1px solid #ddd;
            background-color: #f8f8f8;
            font-size: 12px;
        }
    }

    .recBooks {
        p {
            margin: 0 0 5px;
        }
    }

    .library-button {
        width: 100%;
        padding: 7px 10px;
        border-radius: 5px;
        border: 1px solid #eff2e5;
        background-color: transparent;
        font-size: 12px;
        text-decoration: none;
        color: #37824a;
        &:hover {
            background-color: #fcfff2;
        }
        &:disabled {
            opacity: 0.5;
        }
    }

    .loading {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: #fff;
    }
}