@import './_reset.scss';
@import './_keyframes.scss';


button {
	border-radius: 7px;
	border: none;
	// background-color: #f8f8f8;
	// padding: 7px 1rem;
	// color: #333;
	&:disabled {
		opacity: 0.5;
	}
}

.favorite {
    display: flex;
    flex-direction: column;
	height: 100%;
	font-size: 14px;
	color: #4f4f4f;
	&-header {
		display: flex;
		align-items: center;
		padding: 0 1rem;
	}
	&-books {
		overflow: auto;
		flex: 1;
		list-style: none;
		padding: 1rem 0;
	}
}

@import './_gnb.scss';

.favorite-header {
	h2 {
		margin: 0;
	}
	.count {
		margin: 0 0 10px;
		font-size: 1rem;
	}
}

// .favorite-books {
// }

.favorite-item {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 1rem;
	border-top: 1px solid #ececec;
	&[data-loading="true"] {
		&::after {
			content: 'loading...';
			display: block;
			position: absolute; top: 0; left: 0;
			width: 100%; height: 100%;
			
			background-color: #fff;
			
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1rem;
			color: yellowgreen;
			background-color: #fffff5;
		}
	}
	.bookname {
		margin: 0 0 10px;
		font-size: 20px;
		color: #34934a;
		padding: 10px 0;
		border-radius: 5px;
		// line-height: 1.5;
	}
	.details {
		display: flex;
		gap: 1rem;
	}
	.thumb {
		flex: none;
		box-sizing: border-box;
		min-width: 120px;
		&[data-loaded="false"] {
			// background-color: #f4f4f4;
		}
		img {
            box-sizing: border-box;
			width: 120px;
			height: auto;
			border: 1px solid #eaeaea;
		}
	}
	.info {
		flex: 1;
		list-style: none;
		margin: 0;
		padding: 0;
		color: #333;
		li {
			padding-bottom: 7px;
			&:before {
				content : "⋅";
				display: inline-block;
				padding-right: 5px;
			}
		}
	}
	
}

.favorite-actions {
	button {
		width: 100%;
		// display: inline-block;
		padding: 7px 10px;
		border-radius: 5px;
		border: 1px solid #eff2e5;
		background-color: transparent;
		font-size: 12px;
		text-decoration: none;
		color: #37824a;
		&:hover {
			background-color: #fcfff2;
		}
	}
	.library-button {
		width: 100%;
		margin-top: 10px;
	}
}
@import './_book-description.scss';
@import './_favorite-item.scss';
