@import './_reset.scss';

button {
	border: none;
	background-color: #f4f4f4;
	padding: 7px 1rem;
}

.favorite {
	display: block;
	margin: 2rem;
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-books {
		list-style: none;
		margin-top: 1rem;
		padding: 0;
	}
}

.favorite-header {
	h1 {
		margin: 0;
	}
	.count {
		margin: 0;
		font-size: 1.2rem;
	}
}

.favorite-books {
}

.favorite-item {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 1rem 0;
	border-bottom: 1px solid rgba(0, 100, 200, 0.1);
	.info {
		display: flex;
		gap: 1rem;
	}
	.details {
		p {
			margin: 0 0 8px;
		}
	}
	.thumb {
		width: 120px;
		min-height: 120px;
		background-color: #f4f4f4;
		&[data-load="true"] {
			background-color: transparent;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.description {
		line-height: 1.5;
	}
}

.favorite-actions {
	.favorite-button {
		position: absolute;
		top: 1rem; right: 0;
	}
	.library-button {
		width: 100%;
	}
}
.favorite-library {
	&:empty {
		margin: 0;
	}
}


