
html {
    height: 100%;
}
body {
    overflow: hidden;
    height: 100%;
    margin: 0;

}

.root {
    display: flex;
    flex-direction: column;
    // position: relative;
    height: 100%;

}
.header {
    flex: none;
    // position: fixed;
    // top: 0;
    // right: 0;
    // left: 0;
    padding: 1rem 1.5rem;
    background-color: #e6eff9;

}
.input-search {
    display: block;
    form {
        display: flex;
    }
    input {
        flex: 1;
        padding: 10px 1rem;
        border-radius: 5px;
        border: 1px solid #8a99a7;
        background-color: transparent;
        font-size: 14px;
        
    }
    button {
        flex: none;
        margin-left: 5px;
        padding: 0 20px;
        border-radius: 5px;
        border: none;
        background-color: rgba(10, 100, 200, 0.2);
        font-size: 14px;
        cursor: pointer;
    }
}

.book-list {
    flex: 1;
    overflow: auto;
    padding: 1.5rem;
    &-summary {
        display: flex;
        justify-content: space-between;
    }
    a {
        color: #333;
    }

}

.books {
    list-style: none;
    padding: 0;
}
.book {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.observe {
    height: 10px;
    // background-color: rgba(10, 100, 200, 0.5);
}



