@import './_reset.scss';


.root {
    display: flex;
    flex-direction: column;
    // position: relative;
    height: 100%;

}

@import './_gnb.scss';

.header {
    flex: none;
    // position: fixed;
    // top: 0;
    // right: 0;
    // left: 0;
    padding: 10px 1rem;
    background-color: #f1fff4;

}
.input-search {
    display: block;
    form {
        display: flex;
    }
    input {
        flex: 1;
        padding: 10px 1rem;
        border-radius: 5px;
        border: 1px solid #cde1d1;
        background-color: transparent;
        font-size: 14px;
        color: #4a754a;
        &::placeholder {
            color: #80a381;
        }
        &:focus {
            outline: none;
            border-color: #50ad50;
            color: #107214;
            background-color: #f8f8b1c9;
        }
    }
    button {
        flex: none;
        margin-left: 5px;
        padding: 0 20px;
        border-radius: 5px;
        border: none;
        background-color: rgb(194 230 203);
        font-size: 14px;
        color: #799180;
    }
}

.book-content {
    flex: 1;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
}

.book-summary {
    flex: none;

    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    // height: 30px;;
    padding: 10px 1rem;
    border-bottom: solid 1px rgba(10, 100, 200, 0.05);
    background-color: rgba(10, 100, 200, 0.05);
    &[hidden] {
        visibility: hidden;
    }

}

.book-list {
    flex: 1;
    overflow: auto;
    
}

.books {
    list-style: none;
    margin: 0;
    padding: 0 1rem;
    &-message {
        text-align: center;
    }
}
.book {
    display: block;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    // font-size: 14px;

    .details {
        display: flex;
        gap : 1rem;
        p {
            margin: 7px 0;
        }
    }
    .title {
        margin: 5px 0 10px;
    }

    .thumb {
        flex: none;
        // width: 120px;
        &[data-fail="true"] {
            border: 1px solid #ddd;
            background-color: #eee;
        }

        img {
            box-sizing: border-box;
            width: 120px; height: auto;
            border: 1px solid #ddd;
        }
    }

    .sites {
        h4 {
            margin: 0 0 10px;
            font-weight: normal;
        }
        .__link {
            display: inline-block;
            // color: #333;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 12px;;
            text-decoration: none;
        }
    }

    .actions {
        margin-top: 10px;
        button {
            
            border-radius: 7px;
            border: 1px solid #eee;
            background-color: transparent;
            padding: 7px 1rem;

            &[data-selected="true"] {
                color: green;
                svg {
                    fill: green;
                }
            }
        }
        svg {
            fill: #999;
            margin-right: 5px;
        }
        .library-button {
            width: 100%;
            margin-top: 10px;
            text-align: center;
        }

    }
}
@import './_book-description.scss';
@import './_favorite-item.scss';
 

.observe {
    height: 10px;
    // background-color: rgba(10, 100, 200, 0.5);
}

.notFound {
    margin-top: 2rem;
    text-align: center;
}
