
@import './_reset.scss';
@import './_layout.scss';


.book-list {
    display: block;
}

.book-item {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.test-list {
    display: block;
}
