@charset "UTF-8";
html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

button {
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.gnb {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
  background-color: #37824a;
}
.gnb-item {
  flex: auto;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.gnb-item:hover, .gnb-item[aria-selected=true] {
  text-decoration: underline;
  color: #ffffb1;
}

loading-component {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 14px;
  color: gray;
}
loading-component[hidden] {
  display: none;
}

h2 {
  margin: 0;
  padding: 1rem 1rem 0;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-library {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #666;
}
app-library a {
  color: #666;
}

library-stored {
  padding: 1rem;
  background-color: #364d4e;
}
library-stored .title {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 1rem;
  color: #dfe4aa;
}
library-stored .libries {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
library-stored .libries li {
  box-sizing: border-box;
  padding: 2px 0;
  font-size: 12px;
  color: #c5c4c4;
}
library-stored .libries li:before {
  content: "-";
  margin-right: 5px;
}
library-stored .cancelButton {
  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #435859;
  background-color: transparent;
  font-size: 11px;
  color: #567172;
}
library-stored .cancelButton:hover {
  border-color: #567172;
  color: #799394;
}
@media (max-width: 450px) {
  library-stored li {
    width: 100%;
  }
}
@media (min-width: 450px) and (max-width: 650px) {
  library-stored li {
    width: 50%;
  }
  library-stored li:nth-child(even) {
    padding-left: 12px;
  }
}
@media (min-width: 650px) and (max-width: 900px) {
  library-stored li {
    width: 33.33333%;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  library-stored li {
    width: 25%;
  }
}
@media (min-width: 1000px) {
  library-stored li {
    width: 20%;
  }
}

library-header {
  display: block;
  padding: 10px 1rem;
  border-top: 1px solid #f1f1f1;
  background-color: #f1fff4;
}
library-header .region label {
  margin-right: 5px;
}
library-header .region label input[type=radio] {
  vertical-align: middle;
}
library-header .region label span {
  font-size: 14px;
}
library-header .detailRegion {
  width: 100%;
  margin-top: 7px;
  padding: 7px 10px;
  appearance: none;
  border-radius: 5px;
  border: 1px solid #cde1d1;
  background-color: transparent;
  font-size: 12px;
  color: #4a754a;
}
library-header .detailRegion:focus {
  outline: none;
  border-color: #50ad50;
  color: #107214;
  background-color: #f8f8b1c9;
}

.library-body {
  flex: 1;
  position: relative;
  border-top: 1px solid #ecf7f5;
}

library-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #ededed;
}
library-item .libName {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 1rem;
  color: #417f80;
}
library-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.7;
}
library-item li {
  padding-left: 10px;
  text-indent: -5px;
}
library-item li:before {
  content: "⋅";
  display: inline-block;
  padding-right: 5px;
}
library-item li span:first-child {
  margin-right: 5px;
}

.actions label {
  display: flex;
  position: absolute;
  top: 10px;
  right: 1rem;
  cursor: pointer;
}
.actions input[name=myLibrary] {
  position: absolute;
  left: -10rem;
  visibility: hidden;
}
.actions span {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background: #f8f8f8;
  font-size: 12px;
  color: #666;
}
.actions span:hover {
  border-color: #d6d6d6;
  background-color: #efeeee;
  color: #4f4f4f;
}
.actions input[name=myLibrary]:checked + span {
  background: #548b8c;
  border-color: #4c7677;
  color: #efefef;
}

.notFound {
  margin: 1rem;
  text-align: center;
}

/*# sourceMappingURL=library.css.map */
