@charset "UTF-8";
html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

button {
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.gnb {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
  background-color: #37824a;
}
.gnb-item {
  flex: auto;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.gnb-item:hover, .gnb-item[aria-selected=true] {
  text-decoration: underline;
  color: #ffffb1;
}

book-description {
  display: flex;
  flex-direction: column;
}
book-description .description {
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
}
book-description .description:empty {
  margin: 0;
}
book-description .description[data-ellipsis=true] {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
book-description .more-description-button {
  width: auto;
  margin-left: auto;
  background-color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  font-size: 12px;
  color: #666;
  text-decoration: none;
}
book-description .more-description-button:hover {
  background-color: rgba(159, 234, 134, 0.1);
}
book-description .more-description-button[aria-hidden=true] {
  display: none;
}

library-book-exist .library-list {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  border-radius: 7px;
}
library-book-exist .library-item {
  display: flex;
  padding: 3px 0;
  font-size: 12px;
  color: #767676;
}
library-book-exist .library-item span {
  margin-right: 5px;
}
library-book-exist .library-item[data-loading=true] {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: #f3f9eb;
  animation: pulse 1s ease-in-out 0.5s infinite;
}
library-book-exist .library-item[data-loading=true]:before {
  content: " ";
}

category-selector {
  position: absolute;
  bottom: 0;
  right: 0;
}
category-selector .category-button {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid #4c7677;
  background: #548b8c;
  color: #efefef;
  font-size: 12px;
}
category-selector .category {
  overflow-y: auto;
  display: block;
  box-sizing: border-box;
  height: 150px;
  margin-bottom: -5px;
  padding-bottom: 5px;
  border: 1px solid #b5b5b5;
  border-radius: 5px 5px 0 0;
  background-color: #dfdfdf;
  font-size: 12px;
  transition: all 0.3s ease;
}
category-selector .category[hidden] {
  opacity: 0;
}
category-selector .category label {
  display: flex;
  align-items: center;
  padding: 0 15px 0 5px;
}
category-selector .category label:first-child {
  padding-top: 8px;
}
category-selector .category label:last-child {
  padding-bottom: 8px;
}
category-selector .category span {
  margin-left: 3px;
  color: #666;
}

book-image {
  display: flex;
  justify-content: center;
}
book-image .thumb {
  width: 120px;
  border: 1px solid #e8e8e8;
}
book-image[data-fail=true] {
  box-sizing: border-box;
  width: 120px;
  height: 170px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
}

a:hover book-image .thumb {
  border-color: #48dfc2;
}

loading-component {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 14px;
  color: gray;
}
loading-component[hidden] {
  display: none;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav-gnb {
  flex: none;
}

app-search {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: none;
  padding: 7px 1rem;
  background-color: #f1fff4;
}

monthly-keywords {
  overflow-x: auto;
  display: flex;
  padding: 5px 0 10px;
  flex-wrap: nowrap;
  font-size: 11px;
}
monthly-keywords a {
  display: inline-block;
  margin: 0 2px;
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid #c8e0da;
  background-color: #d7edd8;
  white-space: nowrap;
  color: #44877c;
  text-decoration: none;
}
monthly-keywords a:hover {
  border-color: #7bdac1;
  background-color: #fff;
}

.input-search {
  display: block;
}
.input-search input {
  flex: 1;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #cde1d1;
  background-color: transparent;
  font-size: 13px;
  color: #4a754a;
}
.input-search input::placeholder {
  color: #80a381;
}
.input-search input:focus {
  outline: none;
  border-color: #50ad50;
  color: #107214;
  background-color: #f8f8b1c9;
}
.input-search button {
  flex: none;
  margin-left: 5px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  background-color: #c2e6cb;
  font-size: 14px;
  color: #799180;
}

.inputSearch-search {
  display: flex;
}

.inputSearch-sort {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 14px;
  color: #5f5f5f;
}
.inputSearch-sort label {
  margin-right: 1rem;
  font-size: 12px;
}
.inputSearch-sort label input {
  vertical-align: sub;
}

.paging-info {
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 1rem;
  border-bottom: solid 1px rgba(10, 100, 200, 0.05);
  background-color: #f1fff4;
  color: #4b4b4b;
}
.paging-info[hidden] {
  visibility: hidden;
}
.paging-info .__keyword {
  color: #133e6e;
  font-size: 1.2rem;
}
.paging-info .__count,
.paging-info .__display {
  font-size: 14px;
}

.search-result {
  flex: 1;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.books {
  list-style: none;
  margin: 0;
  text-align: center;
}
.books .message {
  font-size: 12px;
  color: #666;
}

book-item {
  position: relative;
  display: block;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
book-item .book-summary {
  position: relative;
  margin: 1rem 1rem 7px;
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #333;
}
book-item .book-summary p {
  margin: 7px 0;
}
book-item .book-info {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #666;
}
book-item .book-info .title {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}
book-item .book-info li {
  margin-bottom: 5px;
}
book-item .book-info .link {
  background-color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  font-size: 12px;
  color: #666;
  text-decoration: none;
}
book-item .book-info .link:hover {
  background-color: rgba(159, 234, 134, 0.1);
}
book-item book-description {
  margin: 0 1rem;
}
book-item .actions {
  margin: 1rem;
}
book-item .actions button {
  background-color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  font-size: 12px;
  color: #666;
  text-decoration: none;
}
book-item .actions button:hover {
  background-color: rgba(159, 234, 134, 0.1);
}
book-item .actions button[data-selected=true] {
  color: green;
}
book-item .actions button[data-selected=true] svg {
  fill: green;
}
book-item .actions svg {
  fill: #999;
  margin-right: 5px;
}
book-item .actions .library-button {
  background-color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  font-size: 12px;
  color: #666;
  text-decoration: none;
}
book-item .actions .library-button:hover {
  background-color: rgba(159, 234, 134, 0.1);
}

.observe {
  flex: none;
  height: 10px;
}

.notFound {
  margin-top: 2rem;
  text-align: center;
  font-size: 12px;
  color: #666;
}

/*# sourceMappingURL=search.css.map */
