book-description {
    display: flex;
    flex-direction: column;
    .description {
        margin: 0;
        font-size: 14px;
        line-height: 1.5;
        &:empty {
            margin: 0;
        }
        &[data-ellipsis="true"] {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
    .more-description-button {
        width: auto;
        margin-left: auto;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #e7e7e7;
        background-color: #fff;
        font-size: 12px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &[aria-hidden="true"] {
            display: none;
        }
    }
}
