@import "./_button.scss";

book-description {
    display: flex;
    flex-direction: column;
    .description {
        margin: 0;
        font-size: 12px;
        line-height: 1.5;
        color: #767676;
        &:empty {
            margin: 0;
        }
        &[data-ellipsis="true"] {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
    .more-description-button {
        width: auto;
        margin-left: auto;
        @include button1;
        &[aria-hidden="true"] {
            display: none;
        }
    }
}
