@mixin buttonBase {
    background-color: #fff;
}

@mixin button1 {
    @include buttonBase;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    font-size: 12px;
    color: #666;
    text-decoration: none;
    &:hover {
        background-color: rgba(159, 234, 134, 0.1);
    }
}

@mixin button2 {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background: #f8f8f8;
    font-size: 12px;
    color: #666;
    &:hover {
        border-color: #d6d6d6;
        background-color: #efeeee;
        color: #4f4f4f;
    }
}

@mixin button2-active {
    background: #548b8c;
    border-color: #4c7677;
    color: #efefef;
}
