checkbox-favorite-book {
    .myCategory {
        label {
            display: flex;
            align-items: center;
            position: relative;
        }
        input {
            position: absolute;
            top: -1px;
            left: -1px;
            opacity: 0;
            z-index: -1;
        }
        span {
            overflow: hidden;
            box-sizing: border-box;
            margin-left: 5px;
            padding: 5px 15px;
            border-radius: 15px;
            border: 1px solid #ddd;
            font-size: 12px;
            color: #666;
            cursor: pointer;
        }
        input:checked + span {
            border-color: #8c8c8c;
            background-color: #9172c9;
            color: #f0ffd2;
        }
        input:focus-visible + span {
            outline: -webkit-focus-ring-color auto 1px;
        }
    }

    h5 {
        margin: 0;
        padding: 5px 7px;
        border-radius: 5px 5px 0 0;
        background: #d2f0d2;
        color: #6ca681;
    }

    .category {
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 0 0 5px 5px;
        font-size: 12px;
        label {
            display: flex;
            align-items: center;
        }
        span {
            margin-left: 3px;
            color: #666;
        }
    }
}
