library-book-exist {
    .library-list {
        list-style: none;
        margin: 5px 0 0;
        padding: 0;
        border-radius: 7px;
    }
    .library-item {
        display: flex;
        padding: 5px 0;
        font-size: 12px;
        color: #666;

        span {
            margin-right: 5px;
        }

        &[data-loading="true"] {
            &:before {
                content: "\00a0";
            }
            width: 100%;
            height: auto;
            border-radius: 4px;
            background-color: #f3f9eb;
            animation: pulse 1s ease-in-out 0.5s infinite;
        }
    }
}
