@charset "UTF-8";
html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

button {
  cursor: pointer;
}
button:disabled {
  pointer-events: none;
}

.gnb {
  display: flex;
  justify-content: space-evenly;
  background-color: #37824a;
}
.gnb-item {
  padding: 12px 0;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.gnb-item:hover, .gnb-item[aria-selected=true] {
  text-decoration: underline;
  color: #ffffb1;
}

library-book-exist .library-list {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
  border-radius: 7px;
}
library-book-exist .library-item {
  display: flex;
  margin: 5px 0;
  padding: 0 5px;
  font-size: 14px;
}
library-book-exist .library-item span {
  margin-right: 5px;
}
library-book-exist .library-item[data-loading=true] {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: #f3f9eb;
  animation: pulse 1s ease-in-out 0.5s infinite;
}
library-book-exist .library-item[data-loading=true]:before {
  content: " ";
}

checkbox-favorite-book .myCategory label {
  display: flex;
  align-items: center;
  position: relative;
}
checkbox-favorite-book .myCategory input {
  position: absolute;
  top: -1px;
  left: -1px;
  opacity: 0;
  z-index: -1;
}
checkbox-favorite-book .myCategory span {
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 5px;
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #666;
  cursor: pointer;
}
checkbox-favorite-book .myCategory input:checked + span {
  border-color: #8c8c8c;
  background-color: #9172c9;
  color: #f0ffd2;
}
checkbox-favorite-book .myCategory input:focus-visible + span {
  outline: -webkit-focus-ring-color auto 1px;
}
checkbox-favorite-book h5 {
  margin: 0;
  padding: 5px 7px;
  border-radius: 5px 5px 0 0;
  background: #d2f0d2;
  color: #6ca681;
}
checkbox-favorite-book .category {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  font-size: 12px;
}
checkbox-favorite-book .category label {
  display: flex;
  align-items: center;
}
checkbox-favorite-book .category span {
  margin-left: 3px;
  color: #666;
}

book-image {
  display: flex;
  justify-content: center;
}
book-image[data-fail=true] .book-image {
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
}
book-image .thumb {
  border: 1px solid #e8e8e8;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav-gnb {
  flex: none;
}

app-book {
  flex: 1;
  overflow: auto;
  position: relative;
  padding: 1rem;
  font-size: 14px;
  color: #333;
}
app-book h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
}
app-book h4 {
  display: block;
  margin: 30px 0 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 1rem;
}
app-book .bookname p {
  margin: 7px 0;
}
app-book .bookname p:first-child {
  font-size: 1.7rem;
}
app-book book-image[data-fail=true] .book-image {
  width: 200px;
  height: 200px;
}
app-book book-image .thumb {
  min-width: 100px;
  max-width: 200px;
}
app-book .cols {
  display: flex;
  flex-wrap: wrap;
}
app-book .cols .col {
  box-sizing: border-box;
  width: 50%;
}
app-book .cols .col:nth-child(even) {
  padding-left: 10px;
}
app-book .description {
  line-height: 1.7;
}
app-book .actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
app-book .library-search-by-book ul {
  padding: 0;
}
app-book .library-search-by-book li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px dashed #ddd;
}
app-book .library-search-by-book li[data-available=true] {
  background-color: rgba(184, 207, 143, 0.1);
}
app-book .library-search-by-book a {
  color: #333;
  text-decoration: none;
}
app-book .library-search-by-book a:hover {
  text-decoration: underline;
}
app-book .library-search-by-book p {
  margin: 0;
}
app-book .keyword {
  display: flex;
  flex-wrap: wrap;
}
app-book .keyword a {
  display: inline-flex;
  margin: 2px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  font-size: 12px;
  color: #525080;
  text-decoration: none;
}
app-book .keyword a:hover {
  border-color: #bcc1d6;
  background-color: #c5e6f3;
}
app-book .recBooks {
  padding: 0;
}
app-book .recBooks li {
  margin: 10px 0 0 1rem;
}
app-book .recBooks a {
  display: block;
  text-decoration: none;
  color: #333;
}
app-book .recBooks a:hover {
  text-decoration: underline;
}
app-book .library-button {
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #eff2e5;
  background-color: transparent;
  font-size: 12px;
  text-decoration: none;
  color: #37824a;
}
app-book .library-button:hover {
  background-color: #fcfff2;
}
app-book .library-button:disabled {
  opacity: 0.5;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fffff5;
  font-size: 1.5rem;
  color: yellowgreen;
}

/*# sourceMappingURL=book.css.map */
