@charset "UTF-8";
html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

button {
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.gnb {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
  background-color: #37824a;
}
.gnb-item {
  flex: auto;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.gnb-item:hover, .gnb-item[aria-selected=true] {
  text-decoration: underline;
  color: #ffffb1;
}

library-book-exist .library-list {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  border-radius: 7px;
}
library-book-exist .library-item {
  display: flex;
  padding: 3px 0;
  font-size: 12px;
  color: #666;
}
library-book-exist .library-item span {
  margin-right: 5px;
}
library-book-exist .library-item[data-loading=true] {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: #f3f9eb;
  animation: pulse 1s ease-in-out 0.5s infinite;
}
library-book-exist .library-item[data-loading=true]:before {
  content: " ";
}

category-selector {
  position: absolute;
  bottom: 0;
  right: 0;
}
category-selector .category-button {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid #4c7677;
  background: #548b8c;
  color: #efefef;
  font-size: 12px;
}
category-selector .category {
  overflow-y: auto;
  display: block;
  box-sizing: border-box;
  height: 150px;
  margin-bottom: -5px;
  padding-bottom: 5px;
  border: 1px solid #b5b5b5;
  border-radius: 5px 5px 0 0;
  background-color: #dfdfdf;
  font-size: 12px;
  transition: all 0.3s ease;
}
category-selector .category[hidden] {
  opacity: 0;
}
category-selector .category label {
  display: flex;
  align-items: center;
  padding: 0 15px 0 5px;
}
category-selector .category label:first-child {
  padding-top: 8px;
}
category-selector .category label:last-child {
  padding-bottom: 8px;
}
category-selector .category span {
  margin-left: 3px;
  color: #666;
}

book-image {
  display: flex;
  justify-content: center;
}
book-image .thumb {
  width: 120px;
  border: 1px solid #e8e8e8;
}
book-image[data-fail=true] {
  box-sizing: border-box;
  width: 120px;
  height: 170px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
}

a:hover book-image .thumb {
  border-color: #48dfc2;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav-gnb {
  flex: none;
}

app-book {
  flex: 1;
  overflow: auto;
  position: relative;
  padding: 1rem;
  font-size: 14px;
  color: #333;
}
app-book h1.bookname {
  margin: 0 0 10px;
  font-size: 1.2rem;
}
app-book h1.bookname p {
  margin: 7px 0;
}
app-book h1.bookname p:first-child {
  font-size: 1.7rem;
}
app-book h4 {
  margin: 30px 0 0;
}
app-book .title {
  padding-bottom: 7px;
  border-bottom: 1px solid #e7e7e7;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}
app-book .book-image-container {
  position: relative;
}
app-book book-image[data-fail=true] .book-image {
  width: 200px;
  height: 200px;
}
app-book book-image .thumb {
  min-width: 100px;
  max-width: 200px;
}
app-book .bookInfo {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
app-book .bookInfo li {
  box-sizing: border-box;
  width: 50%;
  margin-top: 20px;
}
app-book .bookInfo li:nth-child(even) .title {
  margin-right: 10px;
}
app-book .bookInfo li h6 {
  margin: 0;
}
app-book .bookInfo li p {
  margin: 8px 0 0;
  color: #666;
}
app-book .bookInfo .description-area {
  width: 100%;
}
app-book .bookInfo .description {
  line-height: 1.7;
}
app-book .loanHistory table,
app-book .loanGrps table {
  width: 100%;
  border-collapse: collapse;
}
app-book .loanHistory th,
app-book .loanHistory td,
app-book .loanGrps th,
app-book .loanGrps td {
  padding: 5px;
  font-size: 12px;
}
app-book .loanHistory th,
app-book .loanGrps th {
  background-color: #efefef;
  font-weight: normal;
}
app-book .loanHistory td,
app-book .loanGrps td {
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  color: #666;
}
app-book .loanGrps .guide {
  margin: 8px 0;
  font-size: 12px;
}
app-book .keyword {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
app-book .keyword a {
  display: inline-flex;
  margin: 2px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  background-color: #f8f8f8;
  font-size: 12px;
  color: #333;
  text-decoration: none;
}
app-book .keyword a:hover {
  border-color: #c7e53b;
  background-color: #eff9c3;
  color: green;
}
app-book .library-search-by-book ul {
  margin: 0;
  padding: 0;
}
app-book .library-search-by-book li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px dashed #e5e5e5;
  font-size: 12px;
}
app-book .library-search-by-book li[data-available=true] {
  background-color: rgba(184, 207, 143, 0.1);
}
app-book .library-search-by-book li[data-available=true] .loanAvailable {
  color: #c823da;
}
app-book .library-search-by-book a {
  color: #333;
  text-decoration: none;
}
app-book .library-search-by-book a:hover {
  text-decoration: underline;
}
app-book .library-search-by-book p {
  margin: 0;
  color: #666;
}
app-book .library-search-by-book .hasBook {
  margin-right: 7px;
}
app-book .library-search-by-book .loanAvailable {
  margin-left: 7px;
}
app-book .recBooks {
  padding: 0;
}
app-book .recBooks li {
  margin: 10px 0 0 1rem;
}
app-book .recBooks a {
  display: block;
  text-decoration: none;
  color: #333;
}
app-book .recBooks a:hover {
  text-decoration: underline;
}
app-book .library-button {
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #eff2e5;
  background-color: transparent;
  font-size: 12px;
  text-decoration: none;
  color: #37824a;
}
app-book .library-button:hover {
  background-color: #fcfff2;
}
app-book .library-button:disabled {
  opacity: 0.5;
}

.coLoanBooks,
.maniaBooks,
.readerBooks {
  margin: 0;
  padding: 0;
  list-style: none;
}
.coLoanBooks li,
.maniaBooks li,
.readerBooks li {
  padding: 10px;
  border-bottom: 1px dashed #ebebeb;
}
.coLoanBooks li:hover,
.maniaBooks li:hover,
.readerBooks li:hover {
  background-color: #f8f8f8;
}
.coLoanBooks p,
.maniaBooks p,
.readerBooks p {
  margin: 5px 0;
  font-size: 12px;
  color: #666;
}
.coLoanBooks .bookname,
.maniaBooks .bookname,
.readerBooks .bookname {
  font-size: 14px;
  color: #333;
}
.coLoanBooks .isbn13,
.maniaBooks .isbn13,
.readerBooks .isbn13 {
  margin-left: 5px;
}
.coLoanBooks .publish span,
.maniaBooks .publish span,
.readerBooks .publish span {
  margin: 0 5px;
}
.coLoanBooks .publish span:first-child,
.maniaBooks .publish span:first-child,
.readerBooks .publish span:first-child {
  margin-left: 0;
}
.coLoanBooks .loanCnt,
.maniaBooks .loanCnt,
.readerBooks .loanCnt {
  margin-right: 5px;
}
.coLoanBooks a,
.maniaBooks a,
.readerBooks a {
  text-decoration: none;
}
.coLoanBooks a:hover,
.maniaBooks a:hover,
.readerBooks a:hover {
  text-decoration: underline;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  font-size: 14px;
  color: #666;
}

/*# sourceMappingURL=book.css.map */
