@charset "UTF-8";
html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

button {
  cursor: pointer;
}
button:disabled {
  pointer-events: none;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gnb {
  display: flex;
  justify-content: space-evenly;
  background-color: #37824a;
}
.gnb-item {
  padding: 12px 0;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.gnb-item:hover, .gnb-item[aria-selected=true] {
  text-decoration: underline;
  color: #ffffb1;
}

book-description {
  display: flex;
  flex-direction: column;
}
book-description .description {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}
book-description .description:empty {
  margin: 0;
}
book-description .description[data-ellipsis=true] {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
book-description .more-description-button {
  width: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  font-size: 12px;
  text-decoration: none;
}
book-description .more-description-button:hover {
  text-decoration: underline;
}
book-description .more-description-button[aria-hidden=true] {
  display: none;
}

library-book-exist .library-list {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
  border-radius: 7px;
}
library-book-exist .library-item {
  display: flex;
  margin: 5px 0;
  padding: 0 5px;
  font-size: 14px;
}
library-book-exist .library-item span {
  margin-right: 5px;
}
library-book-exist .library-item[data-loading=true] {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: #f3f9eb;
  animation: pulse 1s ease-in-out 0.5s infinite;
}
library-book-exist .library-item[data-loading=true]:before {
  content: " ";
}

checkbox-favorite-book .myCategory label {
  display: flex;
  align-items: center;
  position: relative;
}
checkbox-favorite-book .myCategory input {
  position: absolute;
  top: -1px;
  left: -1px;
  opacity: 0;
  z-index: -1;
}
checkbox-favorite-book .myCategory span {
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 5px;
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #666;
  cursor: pointer;
}
checkbox-favorite-book .myCategory input:checked + span {
  border-color: #8c8c8c;
  background-color: #9172c9;
  color: #f0ffd2;
}
checkbox-favorite-book .myCategory input:focus-visible + span {
  outline: -webkit-focus-ring-color auto 1px;
}
checkbox-favorite-book h5 {
  margin: 0;
  padding: 5px 7px;
  border-radius: 5px 5px 0 0;
  background: #d2f0d2;
  color: #6ca681;
}
checkbox-favorite-book .category {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  font-size: 12px;
}
checkbox-favorite-book .category label {
  display: flex;
  align-items: center;
}
checkbox-favorite-book .category span {
  margin-left: 3px;
  color: #666;
}

book-image {
  display: flex;
  justify-content: center;
}
book-image[data-fail=true] .book-image {
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
}
book-image .thumb {
  border: 1px solid #e8e8e8;
}

button {
  border-radius: 7px;
  border: none;
}
button:disabled {
  opacity: 0.5;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav-gnb {
  flex: none;
}

.favorite {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #4f4f4f;
}
.favorite-books {
  overflow: auto;
  flex: 1;
  list-style: none;
}
.favorite-actions {
  padding: 0 1rem;
}

.favorite-header {
  display: flex;
  padding: 0 1rem;
  background: #f1fff4;
}
.favorite-header[hidden] {
  display: none;
}

.favorite-category button {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  font-size: 14px;
  text-decoration: none;
  color: #666;
}
.favorite-category button:hover, .favorite-category button:active {
  color: #333;
  text-decoration: underline;
}
.favorite-category button[data-active=true] {
  color: #209b3a;
}

.favorite-changeButton {
  margin-left: auto;
  padding: 0 10px;
  background-color: transparent;
  font-size: 12px;
  color: #666;
}
.favorite-changeButton:hover {
  color: #333;
  text-decoration: underline;
}

favorite-item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid #ececec;
}
favorite-item[data-loading=true]::after {
  content: "loading...";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: yellowgreen;
  background-color: #fffff5;
}
favorite-item[data-fail=true] .book-image {
  background-color: rgba(0, 0, 0, 0.05);
}
favorite-item[data-fail=true] .book-image img {
  display: none;
}
favorite-item[data-fail=true] .book-info p {
  opacity: 0;
}
favorite-item .book-summary {
  position: relative;
  padding: 1rem 1rem 7px;
}
favorite-item .book-summary a {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}
favorite-item book-description {
  margin: 0 1rem 1rem;
}
favorite-item book-image[data-fail=true] .book-image {
  width: 120px;
  height: 180px;
}
favorite-item book-image .thumb {
  width: 120px;
}
favorite-item .book-info {
  flex: 1;
  color: #333;
}
favorite-item .book-info p {
  margin: 0;
  padding: 0 0 7px;
  font-size: 14px;
}
favorite-item .book-info p:before {
  content: "⋅";
  display: inline-4block;
  padding-right: 5px;
}
favorite-item .book-info .bookname {
  margin: 5px 0 12px;
  border-radius: 5px;
  font-size: 1rem;
  color: #34934a;
}

checkbox-favorite-book {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.favorite-actions button {
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #eff2e5;
  background-color: transparent;
  font-size: 12px;
  text-decoration: none;
  color: #37824a;
}
.favorite-actions button:hover {
  background-color: #fcfff2;
}
.favorite-actions .library-button {
  width: 100%;
  margin-top: 5px;
}

library-book-exist {
  margin: 0 1rem 1rem;
}

.favorite-message {
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
}

.overlay-category {
  position: absolute;
  top: 5.3rem;
  right: 10px;
  z-index: 10;
}
.overlay-category .overlay-container {
  padding: 1rem;
  border-radius: 10px;
  background-color: #f1fff4;
  border: 1px solid #cce0d0;
}
.overlay-category .overlay-container h3 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed #a1b886;
  font-size: 15px;
  color: #56755d;
}
.overlay-category .category-list {
  padding: 0;
  list-style: none;
}
.overlay-category .category-item {
  display: flex;
  box-sizing: border-box;
  padding: 3px 0;
  align-items: center;
  color: #333;
}
.overlay-category .category-item input[name=category] {
  padding: 6px 8px;
  border: 1px solid #d7ecdc;
  font-size: 14px;
  color: #666;
}
.overlay-category .category-item button {
  margin-left: 5px;
  padding: 5px 8px;
  background-color: transparent;
  font-size: 12px;
  color: #666;
}
.overlay-category .category-item button:hover {
  background-color: #d7ecdc;
}
.overlay-category .category-add {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid #dae3dc;
}
.overlay-category .category-add label {
  margin-right: 5px;
}
.overlay-category .category-add input[type=text] {
  padding: 5px;
  border: 1px solid #d7ecdc;
}
.overlay-category .category-add button {
  margin-left: auto;
  padding: 5px 8px;
  background-color: transparent;
  font-size: 12px;
  color: #666;
}
.overlay-category .category-add button:hover {
  background-color: #d7ecdc;
}
.overlay-category .overlay-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 -1rem -1rem -1rem;
}
.overlay-category .overlay-footer button {
  flex: 1;
  padding: 10px;
  border-radius: 0;
  background-color: #d9f4df;
  font-size: 12px;
  color: #666;
}
.overlay-category .overlay-footer button:not(:first-child) {
  border-left: 1px solid #ddd;
}

/*# sourceMappingURL=favorite.css.map */
