@charset "UTF-8";
html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

button {
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.gnb {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
  background-color: #37824a;
}
.gnb-item {
  flex: auto;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.gnb-item:hover, .gnb-item[aria-selected=true] {
  text-decoration: underline;
  color: #ffffb1;
}

book-description {
  display: flex;
  flex-direction: column;
}
book-description .description {
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
}
book-description .description:empty {
  margin: 0;
}
book-description .description[data-ellipsis=true] {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
book-description .more-description-button {
  width: auto;
  margin-left: auto;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  font-size: 12px;
  text-decoration: none;
  color: #666;
}
book-description .more-description-button:hover {
  text-decoration: underline;
}
book-description .more-description-button[aria-hidden=true] {
  display: none;
}

library-book-exist .library-list {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  border-radius: 7px;
}
library-book-exist .library-item {
  display: flex;
  padding: 3px 0;
  font-size: 12px;
  color: #666;
}
library-book-exist .library-item span {
  margin-right: 5px;
}
library-book-exist .library-item[data-loading=true] {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: #f3f9eb;
  animation: pulse 1s ease-in-out 0.5s infinite;
}
library-book-exist .library-item[data-loading=true]:before {
  content: " ";
}

category-selector {
  position: absolute;
  bottom: 0;
  right: 0;
}
category-selector .category-button {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid #4c7677;
  background: #548b8c;
  color: #efefef;
  font-size: 12px;
}
category-selector .category {
  display: block;
  box-sizing: border-box;
  margin-bottom: -5px;
  padding-bottom: 5px;
  border: 1px solid #b5b5b5;
  border-radius: 5px 5px 0 0;
  background-color: #dfdfdf;
  font-size: 12px;
  transition: all 0.3s ease;
}
category-selector .category[hidden] {
  opacity: 0;
}
category-selector .category label {
  display: flex;
  align-items: center;
  padding: 0 15px 0 5px;
}
category-selector .category label:first-child {
  padding-top: 8px;
}
category-selector .category label:last-child {
  padding-bottom: 8px;
}
category-selector .category span {
  margin-left: 3px;
  color: #666;
}

book-image {
  display: flex;
  justify-content: center;
}
book-image .thumb {
  width: 120px;
  border: 1px solid #e8e8e8;
}
book-image[data-fail=true] {
  box-sizing: border-box;
  width: 120px;
  height: 170px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
}

a:hover book-image .thumb {
  border-color: #48dfc2;
}

loading-component {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 14px;
  color: gray;
}
loading-component[hidden] {
  display: none;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav-gnb {
  flex: none;
}

.favorite {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #4f4f4f;
}
.favorite-books {
  overflow: auto;
  flex: 1;
  list-style: none;
}
.favorite-actions {
  margin-top: 5px;
  padding: 0 1rem;
}

.favorite-header {
  display: flex;
  box-sizing: border-box;
  min-height: 25px;
  padding: 0 1rem;
  background-color: #364d4e;
}
.favorite-header[hidden] {
  display: none;
}

.favorite-category a {
  display: inline-block;
  padding: 7px;
  background-color: transparent;
  font-size: 12px;
  text-decoration: none;
  color: #c5c4c4;
}
.favorite-category a:hover, .favorite-category a:active {
  color: #d6d6d6;
  text-decoration: underline;
}
.favorite-category a[aria-selected=true] {
  color: #f9ffae;
}

.favorite-changeButton {
  margin-left: auto;
  padding: 0 10px;
  background-color: transparent;
  font-size: 12px;
  color: #d9d9d9;
}
.favorite-changeButton:hover {
  color: #e9e9e9;
  text-decoration: underline;
}

favorite-item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #dfedd9;
}
favorite-item[data-fail=true] book-image {
  width: 100px;
  height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.02);
}
favorite-item[data-fail=true] book-image img {
  display: none;
}
favorite-item[data-fail=true] .book-info .bookname {
  font-size: 14px;
}
favorite-item[data-fail=true] .book-info .authors ~ p {
  display: none;
}
favorite-item[data-fail=true] book-description {
  display: none;
}
favorite-item .book-summary {
  position: relative;
  margin: 1rem 1rem 7px;
  display: flex;
  gap: 10px;
}
favorite-item book-description {
  margin: 0 1rem;
}
favorite-item .book-info {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #767676;
}
favorite-item .book-info li {
  padding-bottom: 6px;
  font-size: 12px;
}
favorite-item .book-info .bookname {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1rem;
  color: #417f80;
}
favorite-item .book-info .isbn13,
favorite-item .book-info .publisher,
favorite-item .book-info .publication_year,
favorite-item .book-info .loanCnt {
  margin-left: 5px;
}

.favorite-actions button {
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 12px;
  text-decoration: none;
  color: #6f6f6f;
}
.favorite-actions button:hover {
  border-color: #eff2e5;
}

library-book-exist {
  margin: 0 1rem 1rem;
}

.favorite-message {
  margin-top: 3rem;
  text-align: center;
  font-size: 1rem;
}

.overlay-category {
  position: absolute;
  top: 5.3rem;
  right: 10px;
  z-index: 10;
}
.overlay-category .overlay-container {
  overflow: hidden;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f4f4f4;
  border: 1px solid #e0e0e0;
}
.overlay-category .overlay-container h3 {
  margin: 0;
  font-size: 14px;
  color: #333;
}
.overlay-category .category-list {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}
.overlay-category .category-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 3px 0;
  color: #333;
  transition: all 0.3s ease;
}
.overlay-category .category-item input[name=category] {
  padding: 6px 8px;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  color: #666;
}
.overlay-category .category-item .label ~ button {
  margin-left: 5px;
  padding: 5px 10px;
  border: solid 1px transparent;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background-color: transparent;
  font-size: 12px;
}
.overlay-category .category-item .label ~ button:hover {
  border-color: rgba(0, 0, 0, 0.1);
}
.overlay-category .category-item .dragger {
  height: var(--height);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.overlay-category .category-item[data-drag=dragenter] {
  padding-top: 2rem;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.overlay-category .category-item[data-drag=dragleave] {
  background-color: transparent;
}
.overlay-category .category-item[draggable=true] {
  opacity: 0.5;
}
.overlay-category .category-add {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  border-top: 1px solid #dae3dc;
}
.overlay-category .category-add label {
  flex: 1;
  margin-right: 5px;
}
.overlay-category .category-add input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #e7e7e7;
}
.overlay-category .category-add button {
  margin-left: auto;
  padding: 5px 10px;
  border: solid 1px transparent;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background-color: transparent;
  font-size: 12px;
}
.overlay-category .category-add button:hover {
  border-color: rgba(0, 0, 0, 0.1);
}
.overlay-category .overlay-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 -1rem -1rem -1rem;
}
.overlay-category .overlay-footer button {
  flex: 1;
  padding: 10px;
  border-radius: 0;
  font-size: 12px;
  color: #666;
}
.overlay-category .overlay-footer button:not(:first-child) {
  border-left: 1px solid #ddd;
}

/*# sourceMappingURL=favorite.css.map */
