html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

button {
    border-radius: 7px;
    border: none;
    cursor: pointer;
    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
