<template>
    <!-- <book-item class="book"> -->
    <div class="book-summary">
        <a href=""> </a>
        <ul class="book-info">
            <li class="title"></li>
            <li class="author"></li>
            <li class="publisher"></li>
            <li class="pubdate"></li>
            <li class="isbn"></li>
            <li><span class="discount"></span>원</li>
            <a href="" class="link" target="_blank">네이버 바로가기</a>
        </ul>
        <category-selector></category-selector>
    </div>
    <book-description></book-description>

    <div class="actions">
        <button type="button" class="library-button">
            관심 도서관 소장 | 대출 조회
        </button>
        <library-book-exist>
            <ul class="library-list"></ul>
        </library-book-exist>
    </div>
    <!-- </book-item> -->
</template>
