<div class="popular-item">
    <a class="link">
        <span class="ranking"></span>
    </a>
    <ul class="book-info">
        <li class="bookname"></li>
        <li class="authors"></li>
        <li class="publicationYear">
            출판년도 : <span class="publication_year"></span>
        </li>
        <li class="publisherCompany">
            출판사 : <span class="publisher"></span>
        </li>
        <li class="class_nm"></li>
        <li class="class_no"></li>
        <li class="isbn">ISBN13 : <span class="isbn13"></span></li>
        <li class="loanCount">
            대출 : <span class="loan_count"></span>
        </li>
        <li class="vol"></li>
        <li>
            <a href="" class="bookDtlUrl" target="_blank" rel="noopener noreferrer"
                >도서 상세조회(정보나루)</a
            >
        </li>
    </ul>
    <category-selector></category-selector>
</div>
