book-image {
    display: flex;
    justify-content: center;
    &[data-fail=true] {
        .book-image {
            border: 1px solid #eaeaea;
            background-color: #f8f8f8;
        }
    }
    .thumb {
        border: 1px solid #e8e8e8;
    }
}